<!DOCTYPE html>
<html>
  <head>
    <title>Weathermap for iNOG</title>
    <meta name="viewport" content="initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5" /> -->
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="jquery-3.3.1.min.js"></script>
    <script>
      // var json = $.getJSON("/var/tmp/neighbors.json");
      $.getJSON("./neighbors.json", function(json) {
        console.log(json); // this will show the info it in firebug console
      });

      var map;
      function initMap() {
        // Map options
        var options = {
            center: {lat: 53.34155, lng: -6.24121},
            zoom: 8
            }
        // New Map
        map = new google.maps.Map(document.getElementById('map'), options);

        var marker = addMarker({lat: 53.34155, lng: -6.24121});

        // Function Add Marker
        function addMarker(coords){
            var marker = new google.maps.Marker({
            position:coords,
            map:map
            });
         };
        // New info window
        var infowindow = new google.maps.InfoWindow({
             content:"Hello World!"
            });

         infowindow.open(map,marker);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlsQ9LZy3aRUOGxS-vTg46fUVbPqmTQds&callback=initMap"
    async defer></script>
  </body>
</html>
