<!DOCTYPE html>
<html>
  <head>
    <title>Weathermap for iNOG</title>
    <meta name="viewport" content="initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5" /> -->
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="jquery-3.3.1.min.js"></script>
    <script>
      var map;
      function initMap() {
        // Map options
        var options = {
            center: {lat: 53.34155, lng: -6.24121},
            zoom: 8
            }
        // New Map
        map = new google.maps.Map(document.getElementById('map'), options);

        // Load marker input from JSON file
        var markers = {}
        $.getJSON("./neighbors.json", function(json) {
          for (var host in json) {
            var snmp_location_lat = json[host][0].snmp_location.split(",")[0];
            var snmp_location_lng = json[host][0].snmp_location.split(",")[1];
            markers[host] = addMarker({lat: parseFloat(snmp_location_lat), lng: parseFloat(snmp_location_lng)}, host);
          }
        });

        // Add static, fake link for demo
        var fakeLinkCoordinates = [
          {lat: parseFloat("52.378253"), lng: parseFloat("4.900729")},
          {lat: parseFloat("53.341561"), lng: parseFloat("-6.241210")}
        ];

        var fakeLink = new google.maps.Polyline({
          path: fakeLinkCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        // Function Add Marker
        function addMarker(coords, hostname){
            var marker = new google.maps.Marker({
            position:coords,
            label:hostname,
            title:hostname,
            map:map
            });
         };

        // New info window
        var infowindow = new google.maps.InfoWindow({
             content:"Hello World!"
            });

        infowindow.open(map);
        fakeLink.setMap(map);

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlsQ9LZy3aRUOGxS-vTg46fUVbPqmTQds&callback=initMap"
    async defer></script>
  </body>
</html>
